body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }

        header{
  display: flex;
  justify-content: space-between;
  background-color: #262524;
  padding: 10px;
  align-items: center;
}
header #link-home{
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  background-color: #0dcaf0;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 3px 0px 0px #0a90ab;
  
}
header #link-home:hover{
  background-color: #47d9f6;
  color: #05859f;
  transition: 0.5s;
}
header #link-home:active{
  box-shadow: none;
}
/* header */
.container-header {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  margin-right: 10px;
}

.logo img {
  width: 100%;
  height: auto;
}

.title {
  margin-left: 5px;
  color: #f0860d;
  font-size: 20px;
  font-weight: 600;
}

footer {
  background-color: #262524;
  padding: 10px;
  text-align: center;
  color:#f0860d;
  font-size: 18px;
  font-weight: 600;
}
footer,header b{
  color: #47d9f6;
}

  h1 {
    text-align: center;
    color: #333333;
  }

  .character-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }

  .character {
    border: 2px solid #333333;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background-color: #ffffff;
    width: 200px;
  }

  .character img {
    max-width: 100%;
    height: auto;
  }

  .character h3 {
    margin-top: 10px;
  }

  .character p {
    margin-top: 5px;
    color: #666666;
  }

.button-30 {
        align-items: center;
        appearance: none;
        background-color: #FCFCFD;
        border-radius: 4px;
        border-width: 0;
        box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
        box-sizing: border-box;
        color: #36395A;
        cursor: pointer;
        display: inline-flex;
        font-family: "JetBrains Mono",monospace;
        height: 56px;
        justify-content: center;
        line-height: 1;
        list-style: none;
        overflow: hidden;
        padding-left: 16px;
        padding-right: 16px;
        position: relative;
        text-align: left;
        text-decoration: none;
        transition: box-shadow .15s,transform .15s;
        user-select: none;
        -webkit-user-select: none;
      
        white-space: nowrap;
        will-change: box-shadow,transform;
        font-size: 18px;
      }
      
      .button-30:focus {
        box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
      }
      
      .button-30:hover {
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
        transform: translateY(-2px);
      }
      
      .button-30:active {
        box-shadow: #D6D6E7 0 3px 7px inset;
        transform: translateY(2px);
      }

.botao{
    display: flex;
    justify-content: center;
  }

  @media (max-width: 600px) {
    .character {
      width: 100%;
      max-width: 300px;
    }
  }
